body {
  background-color: #101040;
}

.main-div {
  background-color: #f0f0f0;
  min-height: 90vh;
  width: 90vw;
  max-width: 800px;
  margin: 2.5vh auto;
  border-radius: 10px;
  /* color: #ffffff */
}

.low {
  background-color: #f0f0f0;
  width: 90vw;
  max-width: 800px;
  margin: 2.5vh auto;
  border-radius: 10px;
}

.low h3, .low h4 {
  width: 70%;
  margin: 2.5vh auto;
  scale: 1.2;
}

h1 {
  /* color: #ffffff;
  color: #ebcab3; */
  color: #f0f0f0;
  margin: 1vh auto;
  width: 90vw;
  max-width: 800px;
}

* {
  color: #1a2263;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.App {
  text-align: center;
}

.intro {
  font-size: 18px;
  line-height: 28px;
  margin: 10vh auto;
  width: 75%;
}

.begin-btn {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 75%;
  height: 5vh;
  margin: 5vh auto;
  border: 2px solid #101040;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 5px;
  text-indent: 5px;
  font-weight: 600;
  line-height: 5vh;
  transition: .4s;
  text-decoration: none;
  background-color: #66cc99;
}

.begin-btn:hover {
  background-color: #dea23c;
}

.form-container {
  padding: 10vh 5vw;
}

fieldset {
  border: 3px solid #1a2263;
  border-radius: 5px;
}

legend {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.pag-btn {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  margin-top: 10vh;
  display: block;
  width: 20vw;
  height: 5vh;
  border: 2px solid #101040;
  border-radius: 5px;
  font-size: 20px;
  letter-spacing: 5px;
  text-indent: 5px;
  font-weight: 600;
  background-color: #66cc99;
}

.prev {
  left: 10vw;
}

.next {
  right: 10vw;
}

.pag-btn:hover {
  background-color: #f76868;
}

.resources {
  padding: 2.5vh 0;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5vh;
}

.resources ul{
  margin-left: 5vw;
}
.resources ul li {
  margin-left: 5vw;
}

 h3 {
  text-align: center;
  margin: 5vh auto 2.5vh;
  font-size: 1.35em;
  color: #dea23c;
  /* padding-top: 2.5vh; */
}

h2 {
  padding-top: 5vh;
  font-size: 1.65em;
}

 h4 {
  color: #536e4c;
  color: #3d489c;
}

.follow-up p{
  margin: 1vh auto;
}
.follow-up {
  display: inline-block;
  padding: 2.5vh 2.5vw;
}
