

.prev {
  /* left: 10vw; */
  float: left;
}

.next {
  justify-self: end;
  /* right: 10vw; */
  /* float: right; */
}

.pag-btn:hover {
  background-color: #f76868;
}

.resources {
  padding: 2.5vh 0;
  width: 90%;
  margin: auto;
  margin-bottom: 2.5vh;
}

.resources ul{
  margin-left: 5vw;
}
.resources ul li {
  margin: 1vh 0 1vh 5vw;
  /* font-size: 1.1em; */
  /* text-align: center; */
}



.follow-up p{
  margin: 1vh auto;
}
.follow-up {
  display: inline-block;
  padding: 2.5vh 2.5vw;
}
